<div id="countdown" data-update-url="<%= @update_user_path %>"></div>
<audio id="audio" src="https://www.soundjay.com/clock/alarm-clock-01.mp3" autostart="false" ></audio>
<div id="timer-buttons">
  <i class="fa btn fa-backward fa-2x timer-btn" id="reset-btn" aria-hidden="true"></i>
  <i class="fa btn fa-play fa-2x timer-btn" id="start-btn" aria-hidden="true"></i>
  <i class="fa btn fa-pause fa-2x timer-btn" id="pause-btn" aria-hidden="true"></i>
  <i class="fa btn fa-play fa-2x timer-btn" id="resume-btn" aria-hidden="true"></i>
</div>

<% if session_logged_in?%>
  <div class="list-container">
    <h3>My  Tasks</h3>
    <%= render "tasks/new" %>
    <ul class="task-list-group">
      <% @user_tasks.each do |task| %>
        <% if task.completed %>
          <a class="task-list-item task-item-complete" data-task-id="<%= task.id %>"><%= task["submitted_task"] %></a>
        <% else %>
          <a class="task-list-item task-item-incomplete" data-task-id="<%= task.id %>"><%= task["submitted_task"] %></a>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

