<section class="errors">
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</section>

<div id="registration">
  <%= form_for [@user] do |f| %>
    <%= f.text_field :username, placeholder: "name" , :class => 'form-box' %> </br>
    <%= f.text_field :email, placeholder: "email", :class => 'form-box'%></br>
    <%= f.password_field :password_digest, placeholder: "password", :class => 'form-box' %></br>
    <%= f.submit %>
  <% end %>
</div>
