<% if session_logged_in? %>
  <h2><%= "#{session_user.username}'s Profile" %></h2>
  <%= "Sign Up Date: #{(session_user.created_at).to_date.to_formatted_s(:long)}" %> </br>
  <%= "Total Completed Timers: #{session_user.timer_count}" %>
  <h3>My Tasks</h3>
  <ul class="task-list-group">
    <% Task.where(user_id: session_user.id).each do |task| %>
      <a class="task-list-item false-link" value="<%= task.id %>"><%= task.submitted_task %><%="| Created at: #{task.created_at.to_date.to_formatted_s(:long)}" %></a>
    <% end %>
  </ul>
<% else %>
  <%= "You need to be logged in to see this page" %>
<% end %>
